* {
  margin: 0;
  padding: 0;
  width: auto;
}

/* General */
body {
  width: auto;
  height: auto;
  font-family: Arial, sans-serif;
  color: #303030;
  display: flex;
  flex-direction: column;
}

/* Encabezado */
header {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000000;
  color: #fff;
}

header .logo img {
  height: 50px;
}

header .navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar .menu {
  display: flex;
  gap: 10px;
}

header .navbar .menu button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

header .navbar .menu button:hover {
  background-color: #555;
}

header .elementnavbar a img {
  height: 32px;
  width: 32px;
}

/* Contenido Principal */
main {
  width: auto;
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  gap: 20px;
}

.matrix-input,
.matrix-results {
  width: auto;
  background-color: #ffffff;
  display: inline-block;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.matrix-input h2,
.matrix-results h2 {
  color: #000000;
  margin-bottom: 1rem;
}

.matrix-input,
#matrix-container {
  width: 100%;
  overflow-x: auto; /* Añade scroll horizontal si el contenido excede el ancho */
  white-space: nowrap; /* Evita que los inputs se rompan en varias líneas */
  box-sizing: border-box;
  padding: 10px;
}

/* Ajuste para el contenedor de la matriz */
.matrix-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.matrix-controls button {
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.matrix-controls button:hover {
  background-color: #555;
}

#matrix-container {
  width: auto;
  padding: 10px;
  border: 1px solid #000000;
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
}

input[type="text"] {
  width: 80px;
  border: 1px solid #cecece3e;
  min-width: 80px; /* Ancho mínimo para los inputs */
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

#matrix-container input {
  width: 100%; /* Asegura que cada input ocupe el ancho de su celda */
  height: 100%; /* Asegura que cada input ocupe la altura de su celda */
  box-sizing: border-box; /* Asegura que el padding y el borde no afecten el tamaño total */
  font-size: 1.2em; /* Tamaño de fuente más grande para una mejor legibilidad */
  padding: 5px; /* Añadir espacio interno para mejorar la interacción */
  text-align: center;
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
  white-space: nowrap; /* Evita que el texto se envuelva en una nueva línea */
  max-width: 100px; /* Limita el ancho máximo del input */
}

/* Resultados */
#results-container {
  width: auto;
  padding: 1rem;
  background-color: #e9f5ff;
  border-radius: 5px;
  min-height: 100px;
  margin-bottom: 1rem;
}

.matrix-results button {
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.matrix-results button:hover {
  background-color: #555;
}

/*Subir Matriz*/
.file-upload {
  display: none;
}

.custom-button {
  height: fit-content;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.custom-button:hover {
  background-color: #555;
}

/* Pie de página */
footer {
  width: auto;
  text-align: center;
  padding: 1rem;
  background-color: #000000;
  color: #fff;
}

/* Ajuste de botones y secciones en pantallas pequeñas */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .matrix-input,
  .matrix-results {
    width: auto;
  }

  .navbar .menu {
    flex-direction: column;
    align-items: center;
  }

  header .navbar .menu button {
    width: auto;
  }
}

/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 576px) {
  header,
  footer {
    text-align: center;
  }

  .matrix-controls button,
  .matrix-controls input {
    width: auto;
  }

  .navbar .menu button {
    width: auto;
    margin-bottom: 5px;
  }
}
