/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: Arial, sans-serif;
  color: #303030;
  background-color: #f4f4f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000000;
  color: #fff;
}

header .logo img {
  height: 50px;
}

header .navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .navbar .menu button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

header .navbar .menu button:hover {
  background-color: #555;
}

header .elementnavbar a img {
  height: 32px;
  width: 32px;
}

/* Contenido Principal */
main {
  background-color: #3a3a3a;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  gap: 20px;
  flex-grow: 1;
}

.matrix-input,
.matrix-results {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1; /* Hacer que ambos contenedores se expandan */
}

.matrix-input h2,
.matrix-results h2 {
  color: #000000;
  margin-bottom: 1rem;
}

.matrix-controls {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 1rem;
}

.matrix-controls button {
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.matrix-controls button:hover {
  background-color: #555;
}

/* Contenedor de la Matriz */
#matrix-container {
  display: grid;
  gap: 1px;
}

#matrix-container input {
  width: 80px;
  padding: 8px;
  text-align: center;
  font-size: 1rem;
}

/* Resultados */
#results-container {
  padding: 1rem;
  background-color: #e9f5ff;
  border-radius: 5px;
  min-height: 100px;
  margin-bottom: 1rem;
}

.matrix-results button {
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.matrix-results button:hover {
  background-color: #555;
}

/* Pie de página */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #000000;
  color: #fff;
}

/* Responsividad */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  header {
    flex-direction: column;
    text-align: center;
  }
}
